<launch>
  <arg name="offline_replanning_mode" default="1" />
  <arg name="sample_size_max" default="100" />
  <arg name="robot_distance" default="0.67" />

  <include file="$(find panda_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>

  <node name="read_state_r1" pkg="franka_coord" type="read_state_simu" output="screen">
    <param name="robot_id" value="1" /> 
  </node>
  <node name="read_state_r2" pkg="franka_coord" type="read_state_simu" output="screen">
    <param name="robot_id" value="2" /> 
  </node>

  <node name="coord_r1_r2" pkg="franka_coord" type="coord_offline_delay_two_simu" respawn="false" output="screen">
    <rosparam command="load"
              file="$(find panda_moveit_config)/config/kinematics.yaml"/>
    <param name="offline_replanning_mode" value="$(arg offline_replanning_mode)" /> 
    <param name="sample_size_max" value="$(arg sample_size_max)" /> 
    <param name="robot_distance" value="$(arg robot_distance)" />  
    <rosparam param="pair_ir"> [1, 2]</rosparam>
  </node>
  
  <!-- 3 -->
  <node name="read_state_r3" pkg="franka_coord" type="read_state_simu" output="screen">
    <param name="robot_id" value="3" /> 
  </node>

  <node name="coord_r2_r3" pkg="franka_coord" type="coord_offline_delay_two_simu" respawn="false" output="screen">
    <rosparam command="load"
              file="$(find panda_moveit_config)/config/kinematics.yaml"/>
    <param name="offline_replanning_mode" value="$(arg offline_replanning_mode)" /> 
    <param name="sample_size_max" value="$(arg sample_size_max)" />  
    <param name="robot_distance" value="$(arg robot_distance)" />  
    <rosparam param="pair_ir"> [2, 3]</rosparam>
  </node>

  <node name="coord_r1_r3" pkg="franka_coord" type="coord_offline_delay_two_simu" respawn="false" output="screen">
    <rosparam command="load"
              file="$(find panda_moveit_config)/config/kinematics.yaml"/>
    <param name="offline_replanning_mode" value="$(arg offline_replanning_mode)" /> 
    <param name="sample_size_max" value="$(arg sample_size_max)" />  
    <param name="robot_distance" value="$(arg robot_distance)" />  
    <rosparam param="pair_ir"> [1, 3]</rosparam>
  </node>

  <!-- 4 -->
  <node name="read_state_r4" pkg="franka_coord" type="read_state_simu" output="screen">
    <param name="robot_id" value="4" /> 
  </node>

  <node name="coord_r1_r4" pkg="franka_coord" type="coord_offline_delay_two_simu" respawn="false" output="screen">
    <rosparam command="load"
              file="$(find panda_moveit_config)/config/kinematics.yaml"/>
    <param name="offline_replanning_mode" value="$(arg offline_replanning_mode)" /> 
    <param name="sample_size_max" value="$(arg sample_size_max)" /> 
    <param name="robot_distance" value="$(arg robot_distance)" />  
    <rosparam param="pair_ir"> [1, 4]</rosparam>
  </node>

  <node name="coord_r2_r4" pkg="franka_coord" type="coord_offline_delay_two_simu" respawn="false" output="screen">
    <rosparam command="load"
              file="$(find panda_moveit_config)/config/kinematics.yaml"/>
    <param name="offline_replanning_mode" value="$(arg offline_replanning_mode)" /> 
    <param name="sample_size_max" value="$(arg sample_size_max)" />  
    <param name="robot_distance" value="$(arg robot_distance)" />  
    <rosparam param="pair_ir"> [2, 4]</rosparam>
  </node>

  <node name="coord_r3_r4" pkg="franka_coord" type="coord_offline_delay_two_simu" respawn="false" output="screen">
    <rosparam command="load"
              file="$(find panda_moveit_config)/config/kinematics.yaml"/>
    <param name="offline_replanning_mode" value="$(arg offline_replanning_mode)" /> 
    <param name="sample_size_max" value="$(arg sample_size_max)" />  
    <param name="robot_distance" value="$(arg robot_distance)" />  
    <rosparam param="pair_ir"> [3, 4]</rosparam>
  </node>

  <!-- 5 -->
  <!-- <node name="read_state_r5" pkg="franka_coord" type="read_state_simu" output="screen">
    <param name="robot_id" value="5" /> 
  </node>

  <node name="coord_r1_r5" pkg="franka_coord" type="coord_offline_delay_two_simu" respawn="false" output="screen">
    <rosparam command="load"
              file="$(find panda_moveit_config)/config/kinematics.yaml"/>
    <param name="offline_replanning_mode" value="$(arg offline_replanning_mode)" /> 
    <param name="sample_size_max" value="$(arg sample_size_max)" /> 
    <param name="robot_distance" value="$(arg robot_distance)" />  
    <rosparam param="pair_ir"> [1, 5]</rosparam>
  </node>

  <node name="coord_r2_r5" pkg="franka_coord" type="coord_offline_delay_two_simu" respawn="false" output="screen">
    <rosparam command="load"
              file="$(find panda_moveit_config)/config/kinematics.yaml"/>
    <param name="offline_replanning_mode" value="$(arg offline_replanning_mode)" /> 
    <param name="sample_size_max" value="$(arg sample_size_max)" />  
    <param name="robot_distance" value="$(arg robot_distance)" />  
    <rosparam param="pair_ir"> [2, 5]</rosparam>
  </node>

  <node name="coord_r3_r5" pkg="franka_coord" type="coord_offline_delay_two_simu" respawn="false" output="screen">
    <rosparam command="load"
              file="$(find panda_moveit_config)/config/kinematics.yaml"/>
    <param name="offline_replanning_mode" value="$(arg offline_replanning_mode)" /> 
    <param name="sample_size_max" value="$(arg sample_size_max)" />  
    <param name="robot_distance" value="$(arg robot_distance)" />  
    <rosparam param="pair_ir"> [3, 5]</rosparam>
  </node>

  <node name="coord_r4_r5" pkg="franka_coord" type="coord_offline_delay_two_simu" respawn="false" output="screen">
    <rosparam command="load"
              file="$(find panda_moveit_config)/config/kinematics.yaml"/>
    <param name="offline_replanning_mode" value="$(arg offline_replanning_mode)" /> 
    <param name="sample_size_max" value="$(arg sample_size_max)" />  
    <param name="robot_distance" value="$(arg robot_distance)" />  
    <rosparam param="pair_ir"> [4, 5]</rosparam>
  </node> -->

  <!-- 6 -->
  <!-- <node name="read_state_r6" pkg="franka_coord" type="read_state_simu" output="screen">
    <param name="robot_id" value="6" /> 
  </node>

  <node name="coord_r1_r6" pkg="franka_coord" type="coord_offline_delay_two_simu" respawn="false" output="screen">
    <rosparam command="load"
              file="$(find panda_moveit_config)/config/kinematics.yaml"/>
    <param name="offline_replanning_mode" value="$(arg offline_replanning_mode)" /> 
    <param name="sample_size_max" value="$(arg sample_size_max)" /> 
    <param name="robot_distance" value="$(arg robot_distance)" />  
    <rosparam param="pair_ir"> [1, 6]</rosparam>
  </node>

  <node name="coord_r2_r6" pkg="franka_coord" type="coord_offline_delay_two_simu" respawn="false" output="screen">
    <rosparam command="load"
              file="$(find panda_moveit_config)/config/kinematics.yaml"/>
    <param name="offline_replanning_mode" value="$(arg offline_replanning_mode)" /> 
    <param name="sample_size_max" value="$(arg sample_size_max)" />  
    <param name="robot_distance" value="$(arg robot_distance)" />  
    <rosparam param="pair_ir"> [2, 6]</rosparam>
  </node>

  <node name="coord_r3_r6" pkg="franka_coord" type="coord_offline_delay_two_simu" respawn="false" output="screen">
    <rosparam command="load"
              file="$(find panda_moveit_config)/config/kinematics.yaml"/>
    <param name="offline_replanning_mode" value="$(arg offline_replanning_mode)" /> 
    <param name="sample_size_max" value="$(arg sample_size_max)" />  
    <param name="robot_distance" value="$(arg robot_distance)" />  
    <rosparam param="pair_ir"> [3, 6]</rosparam>
  </node>

  <node name="coord_r4_r6" pkg="franka_coord" type="coord_offline_delay_two_simu" respawn="false" output="screen">
    <rosparam command="load"
              file="$(find panda_moveit_config)/config/kinematics.yaml"/>
    <param name="offline_replanning_mode" value="$(arg offline_replanning_mode)" /> 
    <param name="sample_size_max" value="$(arg sample_size_max)" />  
    <param name="robot_distance" value="$(arg robot_distance)" />  
    <rosparam param="pair_ir"> [4, 6]</rosparam>
  </node>

  <node name="coord_r5_r6" pkg="franka_coord" type="coord_offline_delay_two_simu" respawn="false" output="screen">
    <rosparam command="load"
              file="$(find panda_moveit_config)/config/kinematics.yaml"/>
    <param name="offline_replanning_mode" value="$(arg offline_replanning_mode)" /> 
    <param name="sample_size_max" value="$(arg sample_size_max)" />  
    <param name="robot_distance" value="$(arg robot_distance)" />  
    <rosparam param="pair_ir"> [5, 6]</rosparam>
  </node> -->

  <!-- 7 -->
  <!-- <node name="read_state_r7" pkg="franka_coord" type="read_state_simu" output="screen">
    <param name="robot_id" value="7" /> 
  </node>

  <node name="coord_r1_r7" pkg="franka_coord" type="coord_offline_delay_two_simu" respawn="false" output="screen">
    <rosparam command="load"
              file="$(find panda_moveit_config)/config/kinematics.yaml"/>
    <param name="offline_replanning_mode" value="$(arg offline_replanning_mode)" /> 
    <param name="sample_size_max" value="$(arg sample_size_max)" /> 
    <param name="robot_distance" value="$(arg robot_distance)" />  
    <rosparam param="pair_ir"> [1, 7]</rosparam>
  </node>

  <node name="coord_r2_r7" pkg="franka_coord" type="coord_offline_delay_two_simu" respawn="false" output="screen">
    <rosparam command="load"
              file="$(find panda_moveit_config)/config/kinematics.yaml"/>
    <param name="offline_replanning_mode" value="$(arg offline_replanning_mode)" /> 
    <param name="sample_size_max" value="$(arg sample_size_max)" />  
    <param name="robot_distance" value="$(arg robot_distance)" />  
    <rosparam param="pair_ir"> [2, 7]</rosparam>
  </node>

  <node name="coord_r3_r7" pkg="franka_coord" type="coord_offline_delay_two_simu" respawn="false" output="screen">
    <rosparam command="load"
              file="$(find panda_moveit_config)/config/kinematics.yaml"/>
    <param name="offline_replanning_mode" value="$(arg offline_replanning_mode)" /> 
    <param name="sample_size_max" value="$(arg sample_size_max)" />  
    <param name="robot_distance" value="$(arg robot_distance)" />  
    <rosparam param="pair_ir"> [3, 7]</rosparam>
  </node>

  <node name="coord_r4_r7" pkg="franka_coord" type="coord_offline_delay_two_simu" respawn="false" output="screen">
    <rosparam command="load"
              file="$(find panda_moveit_config)/config/kinematics.yaml"/>
    <param name="offline_replanning_mode" value="$(arg offline_replanning_mode)" /> 
    <param name="sample_size_max" value="$(arg sample_size_max)" />  
    <param name="robot_distance" value="$(arg robot_distance)" />  
    <rosparam param="pair_ir"> [4, 7]</rosparam>
  </node>

  <node name="coord_r5_r7" pkg="franka_coord" type="coord_offline_delay_two_simu" respawn="false" output="screen">
    <rosparam command="load"
              file="$(find panda_moveit_config)/config/kinematics.yaml"/>
    <param name="offline_replanning_mode" value="$(arg offline_replanning_mode)" /> 
    <param name="sample_size_max" value="$(arg sample_size_max)" />  
    <param name="robot_distance" value="$(arg robot_distance)" />  
    <rosparam param="pair_ir"> [5, 7]</rosparam>
  </node>

  <node name="coord_r6_r7" pkg="franka_coord" type="coord_offline_delay_two_simu" respawn="false" output="screen">
    <rosparam command="load"
              file="$(find panda_moveit_config)/config/kinematics.yaml"/>
    <param name="offline_replanning_mode" value="$(arg offline_replanning_mode)" /> 
    <param name="sample_size_max" value="$(arg sample_size_max)" />  
    <param name="robot_distance" value="$(arg robot_distance)" />  
    <rosparam param="pair_ir"> [6, 7]</rosparam>
  </node> -->

    <!-- 8 -->
  <!-- <node name="read_state_r8" pkg="franka_coord" type="read_state_simu" output="screen">
    <param name="robot_id" value="8" /> 
  </node>

  <node name="coord_r1_r8" pkg="franka_coord" type="coord_offline_delay_two_simu" respawn="false" output="screen">
    <rosparam command="load"
              file="$(find panda_moveit_config)/config/kinematics.yaml"/>
    <param name="offline_replanning_mode" value="$(arg offline_replanning_mode)" /> 
    <param name="sample_size_max" value="$(arg sample_size_max)" /> 
    <param name="robot_distance" value="$(arg robot_distance)" />  
    <rosparam param="pair_ir"> [1, 8]</rosparam>
  </node>

  <node name="coord_r2_r8" pkg="franka_coord" type="coord_offline_delay_two_simu" respawn="false" output="screen">
    <rosparam command="load"
              file="$(find panda_moveit_config)/config/kinematics.yaml"/>
    <param name="offline_replanning_mode" value="$(arg offline_replanning_mode)" /> 
    <param name="sample_size_max" value="$(arg sample_size_max)" />  
    <param name="robot_distance" value="$(arg robot_distance)" />  
    <rosparam param="pair_ir"> [2, 8]</rosparam>
  </node>

  <node name="coord_r3_r8" pkg="franka_coord" type="coord_offline_delay_two_simu" respawn="false" output="screen">
    <rosparam command="load"
              file="$(find panda_moveit_config)/config/kinematics.yaml"/>
    <param name="offline_replanning_mode" value="$(arg offline_replanning_mode)" /> 
    <param name="sample_size_max" value="$(arg sample_size_max)" />  
    <param name="robot_distance" value="$(arg robot_distance)" />  
    <rosparam param="pair_ir"> [3, 8]</rosparam>
  </node>

  <node name="coord_r4_r8" pkg="franka_coord" type="coord_offline_delay_two_simu" respawn="false" output="screen">
    <rosparam command="load"
              file="$(find panda_moveit_config)/config/kinematics.yaml"/>
    <param name="offline_replanning_mode" value="$(arg offline_replanning_mode)" /> 
    <param name="sample_size_max" value="$(arg sample_size_max)" />  
    <param name="robot_distance" value="$(arg robot_distance)" />  
    <rosparam param="pair_ir"> [4, 8]</rosparam>
  </node>

  <node name="coord_r5_r8" pkg="franka_coord" type="coord_offline_delay_two_simu" respawn="false" output="screen">
    <rosparam command="load"
              file="$(find panda_moveit_config)/config/kinematics.yaml"/>
    <param name="offline_replanning_mode" value="$(arg offline_replanning_mode)" /> 
    <param name="sample_size_max" value="$(arg sample_size_max)" />  
    <param name="robot_distance" value="$(arg robot_distance)" />  
    <rosparam param="pair_ir"> [5, 8]</rosparam>
  </node>

  <node name="coord_r6_r8" pkg="franka_coord" type="coord_offline_delay_two_simu" respawn="false" output="screen">
    <rosparam command="load"
              file="$(find panda_moveit_config)/config/kinematics.yaml"/>
    <param name="offline_replanning_mode" value="$(arg offline_replanning_mode)" /> 
    <param name="sample_size_max" value="$(arg sample_size_max)" />  
    <param name="robot_distance" value="$(arg robot_distance)" />  
    <rosparam param="pair_ir"> [6, 8]</rosparam>
  </node>

  <node name="coord_r7_r8" pkg="franka_coord" type="coord_offline_delay_two_simu" respawn="false" output="screen">
    <rosparam command="load"
              file="$(find panda_moveit_config)/config/kinematics.yaml"/>
    <param name="offline_replanning_mode" value="$(arg offline_replanning_mode)" /> 
    <param name="sample_size_max" value="$(arg sample_size_max)" />  
    <param name="robot_distance" value="$(arg robot_distance)" />  
    <rosparam param="pair_ir"> [7, 8]</rosparam>
  </node> -->

  <!-- 9 -->
  <!-- <node name="read_state_r9" pkg="franka_coord" type="read_state_simu" output="screen">
    <param name="robot_id" value="9" /> 
  </node>

  <node name="coord_r1_r9" pkg="franka_coord" type="coord_offline_delay_two_simu" respawn="false" output="screen">
    <rosparam command="load"
              file="$(find panda_moveit_config)/config/kinematics.yaml"/>
    <param name="offline_replanning_mode" value="$(arg offline_replanning_mode)" /> 
    <param name="sample_size_max" value="$(arg sample_size_max)" /> 
    <param name="robot_distance" value="$(arg robot_distance)" />  
    <rosparam param="pair_ir"> [1, 9]</rosparam>
  </node>

  <node name="coord_r2_r9" pkg="franka_coord" type="coord_offline_delay_two_simu" respawn="false" output="screen">
    <rosparam command="load"
              file="$(find panda_moveit_config)/config/kinematics.yaml"/>
    <param name="offline_replanning_mode" value="$(arg offline_replanning_mode)" /> 
    <param name="sample_size_max" value="$(arg sample_size_max)" />  
    <param name="robot_distance" value="$(arg robot_distance)" />  
    <rosparam param="pair_ir"> [2, 9]</rosparam>
  </node>

  <node name="coord_r3_r9" pkg="franka_coord" type="coord_offline_delay_two_simu" respawn="false" output="screen">
    <rosparam command="load"
              file="$(find panda_moveit_config)/config/kinematics.yaml"/>
    <param name="offline_replanning_mode" value="$(arg offline_replanning_mode)" /> 
    <param name="sample_size_max" value="$(arg sample_size_max)" />  
    <param name="robot_distance" value="$(arg robot_distance)" />  
    <rosparam param="pair_ir"> [3, 9]</rosparam>
  </node>

  <node name="coord_r4_r9" pkg="franka_coord" type="coord_offline_delay_two_simu" respawn="false" output="screen">
    <rosparam command="load"
              file="$(find panda_moveit_config)/config/kinematics.yaml"/>
    <param name="offline_replanning_mode" value="$(arg offline_replanning_mode)" /> 
    <param name="sample_size_max" value="$(arg sample_size_max)" />  
    <param name="robot_distance" value="$(arg robot_distance)" />  
    <rosparam param="pair_ir"> [4, 9]</rosparam>
  </node>

  <node name="coord_r5_r9" pkg="franka_coord" type="coord_offline_delay_two_simu" respawn="false" output="screen">
    <rosparam command="load"
              file="$(find panda_moveit_config)/config/kinematics.yaml"/>
    <param name="offline_replanning_mode" value="$(arg offline_replanning_mode)" /> 
    <param name="sample_size_max" value="$(arg sample_size_max)" />  
    <param name="robot_distance" value="$(arg robot_distance)" />  
    <rosparam param="pair_ir"> [5, 9]</rosparam>
  </node>

  <node name="coord_r6_r9" pkg="franka_coord" type="coord_offline_delay_two_simu" respawn="false" output="screen">
    <rosparam command="load"
              file="$(find panda_moveit_config)/config/kinematics.yaml"/>
    <param name="offline_replanning_mode" value="$(arg offline_replanning_mode)" /> 
    <param name="sample_size_max" value="$(arg sample_size_max)" />  
    <param name="robot_distance" value="$(arg robot_distance)" />  
    <rosparam param="pair_ir"> [6, 9]</rosparam>
  </node>

  <node name="coord_r7_r9" pkg="franka_coord" type="coord_offline_delay_two_simu" respawn="false" output="screen">
    <rosparam command="load"
              file="$(find panda_moveit_config)/config/kinematics.yaml"/>
    <param name="offline_replanning_mode" value="$(arg offline_replanning_mode)" /> 
    <param name="sample_size_max" value="$(arg sample_size_max)" />  
    <param name="robot_distance" value="$(arg robot_distance)" />  
    <rosparam param="pair_ir"> [7, 9]</rosparam>
  </node>

  <node name="coord_r8_r9" pkg="franka_coord" type="coord_offline_delay_two_simu" respawn="false" output="screen">
    <rosparam command="load"
              file="$(find panda_moveit_config)/config/kinematics.yaml"/>
    <param name="offline_replanning_mode" value="$(arg offline_replanning_mode)" /> 
    <param name="sample_size_max" value="$(arg sample_size_max)" />  
    <param name="robot_distance" value="$(arg robot_distance)" />  
    <rosparam param="pair_ir"> [8, 9]</rosparam>
  </node> -->

  <!-- 10 -->
  <!-- <node name="read_state_r10" pkg="franka_coord" type="read_state_simu" output="screen">
    <param name="robot_id" value="10" /> 
  </node>

  <node name="coord_r1_r10" pkg="franka_coord" type="coord_offline_delay_two_simu" respawn="false" output="screen">
    <rosparam command="load"
              file="$(find panda_moveit_config)/config/kinematics.yaml"/>
    <param name="offline_replanning_mode" value="$(arg offline_replanning_mode)" /> 
    <param name="sample_size_max" value="$(arg sample_size_max)" /> 
    <param name="robot_distance" value="$(arg robot_distance)" />  
    <rosparam param="pair_ir"> [1, 10]</rosparam>
  </node>

  <node name="coord_r2_r10" pkg="franka_coord" type="coord_offline_delay_two_simu" respawn="false" output="screen">
    <rosparam command="load"
              file="$(find panda_moveit_config)/config/kinematics.yaml"/>
    <param name="offline_replanning_mode" value="$(arg offline_replanning_mode)" /> 
    <param name="sample_size_max" value="$(arg sample_size_max)" />  
    <param name="robot_distance" value="$(arg robot_distance)" />  
    <rosparam param="pair_ir"> [2, 10]</rosparam>
  </node>

  <node name="coord_r3_r10" pkg="franka_coord" type="coord_offline_delay_two_simu" respawn="false" output="screen">
    <rosparam command="load"
              file="$(find panda_moveit_config)/config/kinematics.yaml"/>
    <param name="offline_replanning_mode" value="$(arg offline_replanning_mode)" /> 
    <param name="sample_size_max" value="$(arg sample_size_max)" />  
    <param name="robot_distance" value="$(arg robot_distance)" />  
    <rosparam param="pair_ir"> [3, 10]</rosparam>
  </node>

  <node name="coord_r4_r10" pkg="franka_coord" type="coord_offline_delay_two_simu" respawn="false" output="screen">
    <rosparam command="load"
              file="$(find panda_moveit_config)/config/kinematics.yaml"/>
    <param name="offline_replanning_mode" value="$(arg offline_replanning_mode)" /> 
    <param name="sample_size_max" value="$(arg sample_size_max)" />  
    <param name="robot_distance" value="$(arg robot_distance)" />  
    <rosparam param="pair_ir"> [4, 10]</rosparam>
  </node>

  <node name="coord_r5_r10" pkg="franka_coord" type="coord_offline_delay_two_simu" respawn="false" output="screen">
    <rosparam command="load"
              file="$(find panda_moveit_config)/config/kinematics.yaml"/>
    <param name="offline_replanning_mode" value="$(arg offline_replanning_mode)" /> 
    <param name="sample_size_max" value="$(arg sample_size_max)" />  
    <param name="robot_distance" value="$(arg robot_distance)" />  
    <rosparam param="pair_ir"> [5, 10]</rosparam>
  </node>

  <node name="coord_r6_r10" pkg="franka_coord" type="coord_offline_delay_two_simu" respawn="false" output="screen">
    <rosparam command="load"
              file="$(find panda_moveit_config)/config/kinematics.yaml"/>
    <param name="offline_replanning_mode" value="$(arg offline_replanning_mode)" /> 
    <param name="sample_size_max" value="$(arg sample_size_max)" />  
    <param name="robot_distance" value="$(arg robot_distance)" />  
    <rosparam param="pair_ir"> [6, 10]</rosparam>
  </node>

  <node name="coord_r7_r10" pkg="franka_coord" type="coord_offline_delay_two_simu" respawn="false" output="screen">
    <rosparam command="load"
              file="$(find panda_moveit_config)/config/kinematics.yaml"/>
    <param name="offline_replanning_mode" value="$(arg offline_replanning_mode)" /> 
    <param name="sample_size_max" value="$(arg sample_size_max)" />  
    <param name="robot_distance" value="$(arg robot_distance)" />  
    <rosparam param="pair_ir"> [7, 10]</rosparam>
  </node>

  <node name="coord_r8_r10" pkg="franka_coord" type="coord_offline_delay_two_simu" respawn="false" output="screen">
    <rosparam command="load"
              file="$(find panda_moveit_config)/config/kinematics.yaml"/>
    <param name="offline_replanning_mode" value="$(arg offline_replanning_mode)" /> 
    <param name="sample_size_max" value="$(arg sample_size_max)" />  
    <param name="robot_distance" value="$(arg robot_distance)" />  
    <rosparam param="pair_ir"> [8, 10]</rosparam>
  </node>

  <node name="coord_r9_r10" pkg="franka_coord" type="coord_offline_delay_two_simu" respawn="false" output="screen">
    <rosparam command="load"
              file="$(find panda_moveit_config)/config/kinematics.yaml"/>
    <param name="offline_replanning_mode" value="$(arg offline_replanning_mode)" /> 
    <param name="sample_size_max" value="$(arg sample_size_max)" />  
    <param name="robot_distance" value="$(arg robot_distance)" />  
    <rosparam param="pair_ir"> [9, 10]</rosparam>
  </node> -->

</launch>